<div>
  <button *ngIf="authService.isUserAuthenticated()" (click)="logout()">Logout</button>
  <a *ngIf="!authService.isUserAuthenticated()" routerLink="login">Log in</a>
</div>

<h2>Lista kontaktów</h2>

<a *ngIf="authService.isUserAuthenticated()" routerLink="/contact">Dodaj nowy kontakt</a>
<table *ngIf="contacts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.name }}</td>
      <td>{{ contact.surname }}</td>
      <td>
        <!--<button *ngIf="contact.editable">Edycja</button>
        <button *ngIf="contact.editable">Usuń</button>-->
        <a [routerLink]="['/contact',contact.id,false]">Podgląd</a>
        <a [routerLink]="['/contact',contact.id,true]" *ngIf="authService.isUserAuthenticated()">Edycja</a>
        <button (click)="removeContact(contact.id)" *ngIf="authService.isUserAuthenticated()">Usuń</button>
      </td>
    </tr>
  </tbody>
</table>
